﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterTgenesisFHC.Master" AutoEventWireup="true" CodeBehind="wfCambiarPassword.aspx.cs" Inherits="TGENESIS.FHC.InterfazUsuarioWeb.wfCambiarPassword" %>
<%@ Register Src="~/ControlesUsuario/ucNewCambiarPassword.ascx" TagPrefix="uc" TagName="ucNewCambiarPassword" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<table width="100%" align="center">
<tr>

<td align="center">
    <uc:ucNewCambiarPassword runat="server" ID="ucNewCambiarPassword" />
    
    
    </td>
</tr>

</table>



</asp:Content>
