﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterTgenesisFHC.Master" AutoEventWireup="true" CodeBehind="wfRolPermisos.aspx.cs" Inherits="TGENESIS.FHC.InterfazUsuarioWeb.wfRolPermisos" %>
<%@ Register src="~/ControlesUsuario/ucRolPermisos.ascx" tagname="ucRolPermisos" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:ucRolPermisos ID="ucRolPermisos1" runat="server" />
</asp:Content>
