﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterTgenesisFHC.Master" AutoEventWireup="true" CodeBehind="wfCrearUsuario.aspx.cs" Inherits="InterfazUsuarioWeb.administracion.wfCrearUsuario" %>
<%@ Register Src="~/ControlesUsuario/ucCrearUsuario.ascx" TagPrefix="uc" TagName="ucCrearUsuario" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc:ucCrearUsuario runat="server" ID="ucCrearUsuario" />
 </asp:Content>
